.wrapper {
  width: 100%;
  height: 100%;
  border-left: var(--primary-separation);
  border-right: var(--primary-separation);
  box-shadow: 0 7px 10px rgba(255, 255, 255, 0.5);
  padding: 24px;
  min-width: 220px;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-light-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-dark-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
    border-radius: 50px;
  }
}
