@use "@styles/variable.scss" as *;

.contacts {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  width: 23.2%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 6px;
  background-color: $frame-background-color;
  border: $primary-separation;
  box-shadow: $frame-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0 6px;
}

.category {
  color: $primary-text-color;
  transition: color 0.25s ease;
}

.link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 50px;
  left: 0;
  background-color: $hover-background-color;
  transition: width 0.25s ease, left 0.25s ease;
}

.link:hover::before {
  width: 105%;
  left: 0;
}

.link:hover .box {
  position: absolute;
  color: $text-hover-color;
}

.link:hover .category {
  color: $text-hover-color;
}

@media (max-width: 630px) {
  .contacts {
    flex-direction: column;
    width: 100%;
    height: 133px;
    margin-bottom: 0;
  }

  .link {
    width: 100%;
    margin-bottom: 6px;
  }
}
