@use "@styles/variable.scss" as *;

.billboard {
  width: 100%;
  height: 500px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.news {
  width: 23.2%;
  height: 100%;
  padding: 0 6px;
  box-shadow: $frame-shadow;
  border: $primary-separation;
  background-color: $frame-background-color;
}

.news-title {
  height: 31px;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.news-frame {
  width: 100%;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  width: 100%;
  height: 147.66667px;
  background-color: $element-background-color;
  border: $primary-separation;
  @include corner-styles($element-corner-radius, $element-corner-frame);
  overflow: hidden;
}

.new {
  width: 100%;
  height: 100%;
  position: relative;
}

.new-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

.link:hover .new-img {
  transform: scale(1.1);
}

.published {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: $hover-background-color;
  border-top: $element-border;
  box-shadow: $element-shadow;
}

.banners {
  width: 74.49248%;
  height: 100%;
  padding: 6px;
  box-shadow: $frame-shadow;
  background-color: $frame-background-color;
}

.banners-frame {
  width: 100%;
  height: 100%;
  background-color: $element-background-color;
  border: $primary-separation;
  @include corner-styles($element-corner-radius, $banners-corner-frame);
  display: flex;
  justify-content: space-between;
}

.banners-both-sides-right:nth-child(2) {
  order: 3;
}

.banners-video:nth-child(3) {
  order: 2;
}

.banners-both-sides-left,
.banners-both-sides-right {
  width: 22.46336%;
  height: 100%;
  border: $primary-separation;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banners-both-sides-left {
  border-top-left-radius: $element-corner-radius;
}

.banners-both-sides-right {
  border-bottom-right-radius: $element-corner-radius;
}

.banners-box,
.banners-box-1 {
  width: 100%;
  height: 116px;
  border-bottom: $primary-separation;
  background-color: $element-background-color;
  overflow: hidden;
}

.banners-box:first-child {
  border-top-left-radius: $element-corner-radius;
}

.banners-box-1:last-child {
  border-bottom-right-radius: $element-corner-radius;
}

.banner-img-both-sides {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  object-fit: fill;
  transition: transform 0.25s ease;
}

.banners-box:hover .banner-img-both-sides,
.banners-box-1:hover .banner-img-both-sides {
  transform: scale(1.1);
}

.banners-video {
  width: 53.5%;
  height: 100%;
  border-left: $element-border;
  border-right: $element-border;
  box-shadow: $element-shadow;
  position: relative;
}

.slides {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.slide {
  background-color: $frame-background-color;
  box-shadow: $element-shadow;
}

.slide-icon {
  width: 50px;
  height: 50px;
  color: $primary-text-color;
}

.video-frame {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (max-width: 630px) {
  .billboard {
    width: unset;
    height: unset;
    margin-bottom: 12px;
    flex-direction: column;
  }

  .news {
    width: 100%;
    margin-bottom: 6px;
  }

  .news-frame {
    margin-bottom: 6px;
    height: unset;
    flex-direction: row;
  }

  .link {
    //   width: 32%;
    margin: 0 6px;
  }

  .banners {
    width: unset;
    height: unset;
  }

  .banners-frame {
    flex-direction: column;
  }

  .banners-both-sides-left,
  .banners-both-sides-right {
    width: 100%;
    height: 100%;
  }

  .banners-video {
    width: 100%;
    height: 100%;
    margin: 6px 0;
    border: unset;
  }

  .banners-box,
  .banners-box-1 {
    height: 60px;
  }

  .banners-box:nth-child(2),
  .banners-box-1:nth-child(2) {
    margin: 6px 0;
  }

  .banners-box:nth-child(3),
  .banners-box-1:nth-child(3) {
    margin-bottom: 6px;
  }

  .banners-video-box {
    width: 100%;
    height: 240px;
  }
}
