.container {
  flex: 1;
  min-width: 340px;
  border-left: var(--primary-separation);
  border-right: var(--primary-separation);
  box-shadow: 0 7px 10px rgba(255, 255, 255, 0.5);
  padding: 24px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-light-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-dark-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
    border-radius: 50px;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 12px 12px 0 12px;
  }
}
