@use "./variable.scss" as *;

.container {
  height: 100vh;
  max-height: calc(100vh - 124px);
  min-width: 340px;
  padding: 12px;
  margin: 24px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-color;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: $frame-background-color;
    border-radius: 50px;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 0px 6px 6px 6px;
    margin: 12px 0 0 6px;
  }
}
