$primary-light-mode-bg: #e8e8e8;
$primary-background-color: #151b20;
$primary-shadow: 0px -10px 30px #232323;

$main-text-font: "Poppins", sans-serif;
$primary-text-color: #34495e;
$text-hover-color: #ffffffcc;

$frame-background-color: rgba(255, 255, 255, 0.85);
$element-background-color: #5a62694d;
$hover-background-color: rgb(44, 44, 53);
$scrollbar-color: rgb(165, 165, 165);

$banners-corner-frame: polygon(97% 0%, 215% 350%, -38% 50%, 0% 0%);
$element-corner-frame: polygon(90% 0%, 215% 350%, -25% 50%, 0% 0%);
$element-corner-radius: 12px;

$primary-separation: 0.5px solid rgba(105, 105, 105, 0.6);
$frame-shadow: 0 0 5px rgb(35, 35, 35);
$element-shadow: 0 0 2px rgb(35, 35, 35);
$element-border: 2.5px solid rgba(105, 105, 105, 0.6);

@mixin corner-styles($radius, $frame: none) {
  border-top-left-radius: $radius;
  border-bottom-right-radius: $radius;

  @if $frame != none {
    clip-path: $frame;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("ttf"),
    url("/fonts/Poppins-Regular.ttf") format("ttf"),
    url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("ttf"),
    url("/fonts/Poppins-Medium.ttf") format("ttf"),
    url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("ttf"),
    url("/fonts/Poppins-SemiBold.ttf") format("ttf"),
    url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("ttf"),
    url("/fonts/Poppins-Bold.ttf") format("ttf"),
    url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("ttf"),
    url("/fonts/Poppins-ExtraBold.ttf") format("ttf"),
    url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
