@use "./variable.scss" as *;

.wrapper {
  width: 100%;
  height: 1012px;
  box-shadow: $frame-shadow;
  display: flex;
  flex-direction: column;
}

.items {
  flex: 1;
  margin: 0 0 6px 0;
  display: flex;
}

.sets {
  flex: 1;
  margin: 6px 0 0 0;
  display: flex;
}

.item {
  flex: 5;
  padding: 0 6px;
  background-color: $frame-background-color;
  border-left: $primary-separation;
}

.item-viewAll {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bundle {
  flex: 5;
  padding: 0 6px;
  background-color: $frame-background-color;
  border-right: $primary-separation;
}

.outstanding {
  flex: 3;
  background-color: $frame-background-color;
  padding: 0 6px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  height: 34px;
  display: flex;
  align-items: center;
}

.viewAll-link {
  display: flex;
  align-items: center;
  transition: background-color 0.25s ease;
}

.action {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 6px 0 10px;
  transition: color 0.25s ease;
}

.icon {
  width: 16px;
  height: 16px;
  color: $primary-text-color;
  transition: color 0.25s ease;
}

.viewAll-link:hover .action,
.viewAll-link:hover .icon {
  color: $text-hover-color;
}

.viewAll-link:hover {
  background-color: $hover-background-color;
}

.frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outs-link {
  width: 100%;
  height: 227px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outs-link:nth-child(1) {
  margin-bottom: 6px;
}

.outs {
  width: 100%;
  height: 100%;
  background-color: $element-background-color;
  @include corner-styles($element-corner-radius, $element-corner-frame);
  overflow: hidden;
  position: relative;
}

.out-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

.outs-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: $hover-background-color;
}
