.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--primary-light-mode-bg);
  border-left: var(--light-mode-gap);
  border-right: var(--light-mode-gap);

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-light-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-dark-mode-bg);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-light-mode);
    border-radius: 50px;
  }
}

.title {
  color: var(--light-mode-text-color);
  font-size: 4.8rem;
}
