.billboard {
  width: 100%;
  height: 500px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.news {
  width: 23.2%;
  height: 100%;
  padding: 0 6px;
  box-shadow: var(--frame-shadow);
  border: var(--primary-separation);
  background-color: var(--frame-background-color);
}

.news-title {
  height: 31px;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.news-frame {
  width: 100%;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new {
  width: 100%;
  height: 147.66667px;
  background-color: var(--element-background-color);
  border: var(--primary-separation);
  clip-path: var(--element-corner-frame);
  border-top-left-radius: var(--element-corner-radius);
  border-bottom-right-radius: var(--element-corner-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banners {
  width: 74.49248%;
  height: 100%;
  padding: 6px;
  box-shadow: var(--frame-shadow);
  background-color: var(--frame-background-color);
}

.banners-frame {
  width: 100%;
  height: 100%;
  background-color: var(--element-background-color);
  border: var(--primary-separation);
  clip-path: var(--banners-corner-frame);
  border-top-left-radius: var(--element-corner-radius);
  border-bottom-right-radius: var(--element-corner-radius);
  display: flex;
  justify-content: space-between;
}

.banners-both-sides-left,
.banners-both-sides-right {
  width: 22.46336%;
  height: 100%;
  border: var(--primary-separation);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banners-both-sides-left {
  border-top-left-radius: var(--element-corner-radius);
}

.banners-both-sides-right {
  border-bottom-right-radius: var(--element-corner-radius);
}

.banners-box,
.banners-box-1 {
  width: 100%;
  height: 116px;
  border-bottom: var(--primary-separation);
  background-color: var(--element-background-color);
}

.banners-box:first-child {
  border-top-left-radius: var(--element-corner-radius);
}

.banners-box-1:last-child {
  border-bottom-right-radius: var(--element-corner-radius);
}

.banners-center {
  width: 53.76499%;
  height: 100%;
  border: var(--primary-separation);
}

.banners-center-box {
  width: 100%;
  height: 100%;
}

.image-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 630px) {
  .billboard {
    width: unset;
    height: unset;
    margin-bottom: 12px;
    flex-direction: column;
  }

  .news {
    width: 100%;
    margin-bottom: 6px;
  }

  .news-frame {
    margin-bottom: 6px;
    height: unset;
    flex-direction: row;
  }

  .new {
    width: 32%;
  }

  .banners {
    width: unset;
    height: unset;
  }

  .banners-frame {
    flex-direction: column;
  }

  .banners-both-sides-left,
  .banners-both-sides-right {
    width: 100%;
    height: 100%;
  }

  .banners-center {
    width: 100%;
    height: 100%;
    margin: 6px 0;
    border: unset;
  }

  .banners-box,
  .banners-box-1 {
    height: 60px;
  }

  .banners-box:nth-child(2),
  .banners-box-1:nth-child(2) {
    margin: 6px 0;
  }

  .banners-box:nth-child(3),
  .banners-box-1:nth-child(3) {
    margin-bottom: 6px;
  }

  .banners-center-box {
    width: 100%;
    height: 240px;
  }
}
